.tweet{
    height: 100px;
    background-color: white;
    border: 2px solid gray;
}

.tweet_icon{
    height: 100px;
    width: 90px;
    float: left;
    margin-right: 70px;
}

.btn {
    margin: 3px;
}
