body{
    background: #e0e0e0;
}

.main{
    margin-left: auto;
    margin-right: auto;
}

.tweet{
    //min-height: 100px;
    height: auto;
    background-color: #e0e0e0;
    border: 2px solid gray;
}

.tweet_icon{
    position: relative;
    left: 20px;
    border-radius: 80%;
    height: 60px;
    width: 60px;
    border: solid 2px #afafaf;
}

.t_time{
    margin-left: 20px;
}


.t_msg{
    position: relative;
    left: 100px;
    top: -65px;
}

.t_name{
    position: relative;
    left: 100px;
    top: -50px;
}

.btn {
    margin: 3px;
}
